# Rule for allowing members of the 'gpio' group to access modern GPIO devices
SUBSYSTEM=="gpio", KERNEL=="gpiochip[0-9]*", GROUP="gpio", MODE="0660"

# Rule for allowing members of the 'i2c' group to access I2C
SUBSYSTEM=="i2c-dev", KERNEL=="i2c-1", GROUP="i2c", MODE="0660"
